body{
    background: #BDBDBD;
}

.tagline{
    background-image: url("../img/bg.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-position: bottom center; 
    height: 250px;
}

.imgportfolio {
    width: 700px;
    height: 400px;
}

.container-portfolio {
    background: #BDBDBD;
}