body{
    background: white;
}

.tagline{
    background-image: url("../img/bg.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-position: bottom center; 
    height: 250px;
}