body{
    background: #BDBDBD;
}

.tagline{
    background-image: url("../img/bg.jpg");
    background-color: #cccccc;
    background-size: cover;
    background-position: bottom center; 
    height: 250px;
}

.imgportfolio {
    width: 100%;
}

.imgportfolio {
    max-width: 100%;
    width: 350px;
    height: auto;
}

#divportfolio {
    width: 100%;
}