<!-- your html code here IRENE-->
<div class="container-fluid  justify-content-center align-items-center">


<!--texto-->

 <div class="col-10">
    <h2>Contact</h2>
    <p>We'd love to hear from you! Whether you have a question, feedback, or just want to say hello, feel free to reach out. Fill out the form below, and we'll get back to you as soon as possible.</p>


</div>
<!--Formulario de contacto-->
<div class="col-8">
<div class="mb-3 row">
    <label for="emailAddress" class="col-sm-2 col-form-label">Your email</label>
    <div class="col-sm-10">
        <input type="email" class="form-control" id="emailAddress" placeholder="Your email">    </div>
  </div>
  <div class="mb-3 row">
    <label for="message" class="col-sm-2 col-form-label">Your message</label>
    <div class="col-sm-10">
        <textarea class="form-control" aria-label="With textarea" placeholder="Please enter your message here..."></textarea>
    </div>
  </div>
  <!--botones-->

</div>
</div>