<!-- your html code here MARIA -->
<div class="w-100" style="background-color:white">
    <div class="container-fluid py-4">
        <hr style="height:1px; border-width:0; color:gray; background-color:gray">
        <div  class="d-flex flex-wrap justify-content-start">
            <div>
            <span class="fw-bold fs-1">This First Heading</span> <span class="text-secondary fw-bold fs-1"> Will Catch Your Eye</span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente provident nemo non dicta consequatur, quibusdam, eos tempore, excepturi magni illo itaque! Asperiores, assumenda nisi ipsam fugit aliquid minus necessitatibus fugiat. </p>
            </div>
        <img class="rounded-circle ms-3 img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj6YuSZQ25ls-kdsj1GhJ_uQc00tNICy3QsA&s" 
        alt="imagen" class="rounded-circle ms-3" width="250" height="250">
         <div/>
    </div>
</div>


<div style="background-color:white">
    <div class="container-fluid py-4">
        <div  class="d-flex flex-wrap justify-content-start">
            <img class="rounded-circle ms-3 img-fluid" 
             src="https://mh-1-cdn.panthermedia.net/media/previews/0012000000/12391000/~manos-escribiendo-en-el-teclado_12391810_high.jpg"
             alt="Imagen" width="250" height="250">
            <div>
                <h1>
                    The Second Heading
                     <span class="text-muted">is pretty cool too</span>
                </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis iure quod quas neque esse atque asperiores sit hic accusantium exercitationem?</p>
            </div>
        </div>
    </div>
</div>